<div class="todo">
    <ul class="todo--list">
        <li class="todo--list--li">
            <input class="todo--input" type="text" maxlength="70">  <button class=" todo--button todo--button__default">{{fa-icon "plus"}}</button>
        </li>
        <li class="todo--list--li">
            <span class="todo--task">
                asdfasdfsdnk
            </span> 
            <button class=" todo--button todo--button__info">{{fa-icon "pencil"}}</button> 
            <button class=" todo--button todo--button__danger">{{fa-icon "trash-o"}}</button>
        </li>
        <li class="todo--list--li">
            <span class="todo--task">item 1</span> <button class=" todo--button todo--button__info" >{{fa-icon "pencil"}}</button> <button class=" todo--button todo--button__danger">{{fa-icon "trash-o"}}</button>
        </li>
        <li class="todo--list--li">
            <span class="todo--task">item 1</span> <button class=" todo--button todo--button__info">{{fa-icon "pencil"}}</button> <button class=" todo--button todo--button__danger" >{{fa-icon "trash-o"}}</button>
        </li>
        <li class="todo--list--li">
            <span class="todo--task">item 1</span> <button class=" todo--button todo--button__info">{{fa-icon "pencil"}}</button> <button class=" todo--button todo--button__danger" >{{fa-icon "trash-o"}}</button>
        </li>
        <li class="todo--list--li">
            <span class="todo--task">item 1</span> <button class=" todo--button todo--button__info">{{fa-icon "pencil"}}</button> <button class=" todo--button todo--button__danger" >{{fa-icon "trash-o"}}</button>
        </li>
        <li class="todo--list--li">
            <span class="todo--task">item 1</span> <button class=" todo--button todo--button__info">{{fa-icon "pencil"}}</button> <button class=" todo--button todo--button__danger" >{{fa-icon "trash-o"}}</button>
        </li>
        <li class="todo--list--li">
            <span class="todo--task">item 1</span> <button class=" todo--button todo--button__info">{{fa-icon "pencil"}}</button> <button class=" todo--button todo--button__danger" >{{fa-icon "trash-o"}}</button>
        </li>
    </ul>
</div>