<div class="todo">     
    {{!--{{#sortable-group tagName="ul" class="todo--list" onChange="reorderItems" as |group|}}
        {{todo-input todo}}
        {{todo-list list=model.todos}}
    {{/sortable-group}}   
    --}}
    <ul class="todo--list">
        {{todo-input list=model.todos counter=model.counter}}
        {{todo-list list=model.todos }}     
        <button {{action "foo"}}>algo</button>
    </ul>
         
</div>